# Server Configuration
PORT=3000
APP_URL=http://localhost:3000

# Authentication
JWT_SECRET=your_jwt_secret_key_here

# Resend API Key for Email
RESEND_API_KEY=your_resend_api_key_here

# Database
MONGODB_URI=mongodb://localhost:27017/optimadata_dev

